/*Proprietà grafiche del pagina di unione europea*/
body { font-family: Verdana; }
a    { color:blue; } 

/*dimensionamento struttura*/
#ext { margin:auto; width:1024px; height:768px; border:1px solid #000; }
#sx  { float:left; width:30%; height: 100%; border-right:1px solid #000; }
#dx  { float:right; width:69%; height: 100%; overflow:auto; text-align: center;}

/*personalizzo il testo italia*/
p    { margin:auto; text-align:justify; width:90%; }
h3   { text-align: left; text-decoration: underline; } 
